.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #480d2f;
    color: white;
    height: 40px;
    align-items: center;
    
}
.footer-left{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;


}
.footer-right{
    display: flex;
    margin-right: 30px;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;   
}
